.element{
    position:relative;
    display:flex;
    flex-flow:row wrap;
    margin-bottom:5%;
    height: 500px;
    width: 300px;
    padding:10px;
    border-radius: 15px;
    .container-image{
        width:100%;
        .image{
            object-fit:cover;
            width:250px;
            height: 250px;
        }
    }
}
.svg{
    position:absolute;
    background-color: rgba(199, 199, 199, 0.857);
    border-radius: 100%;
    padding: 10px;
    box-sizing: content-box;
}

.sort{
    top:5px;
}

.more{
    right:5px;
    bottom:5px;
}
